In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [62]:
calendar = pd.read_csv(r'C:\Users\nonta\Dropbox\My PC (LAPTOP-VMKUGGQ6)\Desktop\Master-DS\Forecasting\Final_Project\sales-time-series-forecasting-tx-afcs2021\calendar_afcs2021.csv')
sell_prices = pd.read_csv(r'C:\Users\nonta\Dropbox\My PC (LAPTOP-VMKUGGQ6)\Desktop\Master-DS\Forecasting\Final_Project\sales-time-series-forecasting-tx-afcs2021\sell_prices_afcs2021.csv')
sales_train = pd.read_csv(r'C:\Users\nonta\Dropbox\My PC (LAPTOP-VMKUGGQ6)\Desktop\Master-DS\Forecasting\Final_Project\sales-time-series-forecasting-tx-afcs2021\sales_train_validation_afcs2021.csv')
sales_test = pd.read_csv(r'C:\Users\nonta\Dropbox\My PC (LAPTOP-VMKUGGQ6)\Desktop\Master-DS\Forecasting\Final_Project\sales-time-series-forecasting-tx-afcs2021\sales_test_validation_afcs2021.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\nonta\\Dropbox\\My PC (LAPTOP-VMKUGGQ6)\\Desktop\\Master-DS\\Forecasting\\Final_Project\\sales-time-series-forecasting-tx-afcs2021\\calendar_afcs2021.csv'

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
pd.options.display.max_columns = 50
import matplotlib.pyplot as plt
import seaborn as sns
from  datetime import datetime, timedelta

import os
import gc

In [177]:
path = "C:/Users/Paula/Documents/UvA/AFCS - Applied Forecasting in Complex Systems/Project/AFCS-M5/Data"

sales_train = pd.read_csv(os.path.join(path, "sales_train_validation_afcs2021.csv"))
sales_test = pd.read_csv(os.path.join(path, "sales_test_validation_afcs2021.csv"))
calendar = pd.read_csv(os.path.join(path, "calendar_afcs2021.csv"))
prices = pd.read_csv(os.path.join(path, "sell_prices_afcs2021.csv"))
sample_submission = pd.read_csv(os.path.join(path, "sample_submission_afcs2021.csv"))

In [64]:
sales_train = sales_train.set_index("id")
sales_test = sales_test.set_index("id")

In [146]:
sales_test

,id,d_1914,d_1915,d_1916,d_1917,d_1918,d_1919,d_1920,d_1921,d_1922,d_1923,d_1924,d_1925,d_1926,d_1927,d_1928,d_1929,d_1930,d_1931,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,FOODS_3_001_TX_3_validation,1,0,0,1,0,1,0,0,0,0,1,0,1,1,0,0,0,4,1,0,0,0,0,0,0,0,1,0
1,FOODS_3_002_TX_3_validation,0,0,0,0,0,0,0,0,0,2,1,2,3,1,4,0,1,4,2,0,0,2,1,0,3,1,1,1
2,FOODS_3_003_TX_3_validation,0,0,1,0,0,0,0,0,1,1,2,0,1,2,0,0,1,1,2,0,2,1,0,2,0,0,2,1
3,FOODS_3_004_TX_3_validation,0,0,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,FOODS_3_005_TX_3_validation,1,1,2,0,2,0,2,1,4,0,2,1,4,4,3,2,3,2,1,0,1,1,1,2,4,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,FOODS_3_823_TX_3_validation,0,0,1,0,0,0,0,0,1,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,1,1,0,1
819,FOODS_3_824_TX_3_validation,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,1,0,0,0,0,2,1,0,1,0,2,0,0
820,FOODS_3_825_TX_3_validation,2,0,0,2,2,0,3,1,1,1,0,1,1,2,2,0,0,0,3,1,1,2,0,2,5,0,0,3
821,FOODS_3_826_TX_3_validation,1,0,1,5,1,0,1,1,3,1,5,2,3,0,0,5,0,1,2,2,2,0,0,2,4,0,6,2
822,FOODS_3_827_TX_3_validation,10,0,2,0,0,3,0,1,2,1,0,3,4,1,1,2,6,2,0,0,2,2,2,1,0,4,1,2

In [66]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train,y_train)
y_pred = model.predict(df2)

ValueError: could not convert string to float: 'd_1'

In [107]:
from sklearn.metrics import mean_squared_error
import math

MSE = mean_squared_error(sales_test, pred_df)
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

ValueError: Found input variables with inconsistent numbers of samples: [823, 23044]

In [ ]:
df.to_csv("test_predictions.csv")

In [113]:
index_val = sales_train.index.values

In [29]:
cols = ["F"+str(n) for n in range(1,29)]

# PREPROCESS

In [178]:
# Combine columns from the different Dataframes:
def combine_dfs(prices, calendar, sales):
    calendar['d'] = calendar.index
    calendar['d'] = calendar['d'].apply(lambda row: 'd_'+str(row+1))
    if 'item_id' in prices.columns:
        prices['item_id'] = prices['item_id'].apply(lambda row: row+ '_TX_3_validation') 
        prices = prices.rename(columns={"item_id": "id"})

    df = pd.melt(sales, id_vars=['id'], var_name='d', value_name='sold').dropna()
    df = pd.merge(df, calendar, on='d', how='left')
    df = pd.merge(df, prices, on=['id','wm_yr_wk'], how='left')
    df = df.drop(columns=['store_id'])
    return df

In [179]:
def get_weekend(df):
    df_days = df
    df_days['weekend'] = np.logical_or(df['wday'] == 1, df['wday'] == 2)
    df_days['weekday'] = df_days['weekend'] == 0
    return df_days

In [180]:
def get_events_type(df):
    df_events = df
    for ev in list(calendar['event_type_1'].unique())[1:]:
        df[ev] = np.logical_or(df['event_type_1'] == ev, df['event_type_2'] == ev)
    return df_events

In [181]:
# PREPROCESS THE TRAIN SET:
train_df = combine_dfs(prices, calendar, sales_train)
train_df = get_weekend(train_df)
train_df = get_events_type(train_df)
train_df = train_df.set_index("id")
train_df.head()

,d,sold,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX,sell_price,weekend,Sporting,Cultural,National,Religious
id,,,,,,,,,,,,,,,,,,,
FOODS_3_001_TX_3_validation,d_1,0,1/29/2011,11101,False,1,1,2011,NaN,NaN,NaN,NaN,0,2.28,True,False,False,False,False
FOODS_3_002_TX_3_validation,d_1,0,1/29/2011,11101,False,1,1,2011,NaN,NaN,NaN,NaN,0,NaN,True,False,False,False,False
FOODS_3_003_TX_3_validation,d_1,0,1/29/2011,11101,False,1,1,2011,NaN,NaN,NaN,NaN,0,NaN,True,False,False,False,False
FOODS_3_004_TX_3_validation,d_1,0,1/29/2011,11101,False,1,1,2011,NaN,NaN,NaN,NaN,0,NaN,True,False,False,False,False
FOODS_3_005_TX_3_validation,d_1,0,1/29/2011,11101,False,1,1,2011,NaN,NaN,NaN,NaN,0,1.68,True,False,False,False,False

In [182]:
# PREPROCESS THE TEST SET:
test_df = combine_dfs(prices, calendar, sales_test)
test_df = get_weekend(test_df)
test_df = get_events_type(test_df)
test_df = test_df.set_index("id")
test_df.head()

,d,sold,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX,sell_price,weekend,Sporting,Cultural,National,Religious
id,,,,,,,,,,,,,,,,,,,
FOODS_3_001_TX_3_validation,d_1914,1,4/25/2016,11613,True,3,4,2016,NaN,NaN,NaN,NaN,0,NaN,False,False,False,False,False
FOODS_3_002_TX_3_validation,d_1914,0,4/25/2016,11613,True,3,4,2016,NaN,NaN,NaN,NaN,0,NaN,False,False,False,False,False
FOODS_3_003_TX_3_validation,d_1914,0,4/25/2016,11613,True,3,4,2016,NaN,NaN,NaN,NaN,0,NaN,False,False,False,False,False
FOODS_3_004_TX_3_validation,d_1914,0,4/25/2016,11613,True,3,4,2016,NaN,NaN,NaN,NaN,0,NaN,False,False,False,False,False
FOODS_3_005_TX_3_validation,d_1914,1,4/25/2016,11613,True,3,4,2016,NaN,NaN,NaN,NaN,0,NaN,False,False,False,False,False

# TRAIN

In [14]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.5.1-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: scipy in c:\users\nonta\anaconda3\lib\site-packages (from xgboost) (1.6.2)
Requirement already satisfied: numpy in c:\users\nonta\anaconda3\lib\site-packages (from xgboost) (1.20.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.1
Note: you may need to restart the kernel to use updated packages.

In [20]:
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from xgboost import XGBRegressor

model = XGBRegressor()
# define model evaluation method
cv = RepeatedKFold(n_splits=5, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# force scores to be positive
scores = absolute(scores)
print('Mean MAE: %.3f (%.3f)' % (scores.mean(), scores.std()) )

Mean MAE: nan (nan)

In [33]:
pip install lightgbm

Collecting lightgbm
  Using cached lightgbm-3.3.1-py3-none-win_amd64.whl (1.0 MB)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\paula\anaconda3\lib\site-packages (from lightgbm) (0.24.1)
Requirement already satisfied: wheel in c:\users\paula\anaconda3\lib\site-packages (from lightgbm) (0.36.2)
Requirement already satisfied: numpy in c:\users\paula\anaconda3\lib\site-packages (from lightgbm) (1.20.1)
Requirement already satisfied: scipy in c:\users\paula\anaconda3\lib\site-packages (from lightgbm) (1.6.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\paula\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\paula\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.1)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.3.1
Note: you may need to restart the kernel to use updated packages.

In [38]:
import lightgbm
# evaluate lightgbm ensemble for regression
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from lightgbm import LGBMRegressor

# define the model
model = LGBMRegressor()
# evaluate the model
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
# report performance
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

In [89]:
# preprocessed = pd.read_pickle("./preprocessed.pkl")
# preprocessed = preprocessed.set_index("id")
# preprocessed

In [183]:
def convert_category(df):
    obj_feat = list(df.loc[:, df.dtypes == 'object'].columns.values)
    for feature in obj_feat:
        df[feature] = pd.Series(df[feature], dtype="category")
    # More categorical columns:
    for feature in ['month', 'wday']:
        df[feature] = pd.Series(df[feature], dtype="category")
    return df

In [24]:
# Drop unnecessary columns:
# preprocessed = preprocessed.drop([ 'date', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2'],axis=1)

In [159]:
# Drop unnecessary columns:
# train_df = train_df.drop([ 'date', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2'],axis=1)
# test_df = test_df.drop([ 'date', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2'],axis=1)

In [184]:
train_df['Product'] = train_df.index
test_df['Product'] = test_df.index

In [185]:
train_df = convert_category(train_df)
test_df = convert_category(test_df)

In [187]:
X_train, y_train = train_df.drop('sold',axis=1), train_df[['d','sold']]
X_test, y_test = test_df.drop('sold',axis=1), test_df[['d','sold']]
# X_valid, y_valid = preprocessed[(preprocessed['wm_yr_wk']>=11611)].drop('sold',axis=1), preprocessed[(preprocessed['wm_yr_wk']>=11611)][['d','sold']]
#X_test = df[df['d']>=1942].drop('sold',axis=1)

In [188]:
X_valid = X_test
y_valid = y_test

In [189]:
X_valid

,d,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX,sell_price,weekend,Sporting,Cultural,National,Religious,Product
id,,,,,,,,,,,,,,,,,,,
FOODS_3_001_TX_3_validation,d_1914,4/25/2016,11613,True,3,4,2016,NaN,NaN,NaN,NaN,0,NaN,False,False,False,False,False,FOODS_3_001_TX_3_validation
FOODS_3_002_TX_3_validation,d_1914,4/25/2016,11613,True,3,4,2016,NaN,NaN,NaN,NaN,0,NaN,False,False,False,False,False,FOODS_3_002_TX_3_validation
FOODS_3_003_TX_3_validation,d_1914,4/25/2016,11613,True,3,4,2016,NaN,NaN,NaN,NaN,0,NaN,False,False,False,False,False,FOODS_3_003_TX_3_validation
FOODS_3_004_TX_3_validation,d_1914,4/25/2016,11613,True,3,4,2016,NaN,NaN,NaN,NaN,0,NaN,False,False,False,False,False,FOODS_3_004_TX_3_validation
FOODS_3_005_TX_3_validation,d_1914,4/25/2016,11613,True,3,4,2016,NaN,NaN,NaN,NaN,0,NaN,False,False,False,False,False,FOODS_3_005_TX_3_validation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FOODS_3_823_TX_3_validation,d_1941,5/22/2016,11617,False,2,5,2016,NaN,NaN,NaN,NaN,0,NaN,True,False,False,False,False,FOODS_3_823_TX_3_validation
FOODS_3_824_TX_3_validation,d_1941,5/22/2016,11617,False,2,5,2016,NaN,NaN,NaN,NaN,0,NaN,True,False,False,False,False,FOODS_3_824_TX_3_validation
FOODS_3_825_TX_3_validation,d_1941,5/22/2016,11617,False,2,5,2016,NaN,NaN,NaN,NaN,0,NaN,True,False,False,False,False,FOODS_3_825_TX_3_validation
FOODS_3_826_TX_3_validation,d_1941,5/22/2016,11617,False,2,5,2016,NaN,NaN,NaN,NaN,0,NaN,True,False,False,False,False,FOODS_3_826_TX_3_validation
FOODS_3_827_TX_3_validation,d_1941,5/22/2016,11617,False,2,5,2016,NaN,NaN,NaN,NaN,0,NaN,True,False,False,False,False,FOODS_3_827_TX_3_validation

In [ ]:
import lightgbm as lgb
print("Train/Test Sizes : ", X_train.shape, X_valid.shape, y_train.shape, y_valid.shape)

hyper_params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': ['l2', 'auc'],
    'learning_rate': 0.005,
    "num_leaves": 128,  
    "max_bin": 512,
}
lgb_train = lgb.Dataset(X_train.drop(['d'],axis=1), y_train.drop(['d'],axis=1))
gbm = lgb.train(hyper_params, lgb_train, num_boost_round=10, verbose_eval=False)

Train/Test Sizes :  (1574399, 19) (23044, 19) (1574399, 2) (23044, 2)

C:\Users\Paula\anaconda3\lib\site-packages\lightgbm\engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

## Prediction

In [165]:
# PREPROCESS THE PREDICTION SET:
pred_df = combine_dfs(prices, calendar, sample_submission)
pred_df = get_weekend(pred_df)
pred_df = get_events_type(pred_df)
pred_df.head()

,id,d,sold,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX,sell_price,weekend,Sporting,Cultural,National,Religious
0,FOODS_3_001_TX_3_validation,F1,0,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False
1,FOODS_3_002_TX_3_validation,F1,0,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False
2,FOODS_3_003_TX_3_validation,F1,0,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False
3,FOODS_3_004_TX_3_validation,F1,0,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False
4,FOODS_3_005_TX_3_validation,F1,0,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False

In [166]:
X_valid = X_valid.set_index('id')

KeyError: "None of ['id'] are in the columns"

In [167]:
y_val_preds = gbm.predict(X_valid.drop(['d'],axis=1))

In [169]:
y_val_preds

array([1.8116142, 1.8116142, 1.8116142, ..., 1.8116142, 1.8116142,
       1.8116142])

In [168]:
MSE = mean_squared_error(list(y_valid['sold']), list(y_val_preds))
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

5.565017787754426

In [185]:
index_val = sales_train.index.values
#cols = ["d_"+str(n) for n in range(1942,1972)]
cols = ["d_"+str(n) for n in range(1942,1970)]
cols = ["F"+str(n) for n in range(1,29)]

In [118]:
df_pred = pd.DataFrame(y_val_preds)

In [128]:
test_melt = pd.melt(sales_test, var_name='d', value_name='sold').dropna()

In [187]:
dict_= {}
i = 0
for c in cols: # days
    dict_[c] = []
    for ind in index_val: # products
        dict_[c].append(df_pred.iloc[i][0])
        i += 1

In [188]:
pred_df = pd.DataFrame.from_dict(dict_)

In [197]:
pred_df['id'] = index_val
pred_df = pred_df.set_index('id')

In [190]:
pred_df.to_csv('prediction_test.csv')